h1{
  color: white;
  text-align: center;
  font-family: Chandas;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px; /* Gap between grid items */
  padding: 20px; /* Padding around the grid */
}

/* Styling for grid items */
.grid-container > div {
  border: 1px solid #999;
}

.item1 {
  grid-column: 1 / 3;
  background: rgba(255, 159, 64, 1);
}

.item3 {
  grid-row: 2 / 4;
}
